.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  background-color: hsl(214, 84%, 95%);
}

.hero-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding: 5px;
  
}


.white-banner {
  background-color: white;
  padding: 2rem 0; /* Add padding for visual spacing */
  width: 100%; /* Make the banner span the full width */
  max-width: 3000px; /* Optional: Set a max-width for larger screens */
}


.full-width-container {
  max-width:3000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.hero-text-area {
  width: 70%;
  text-align: left;
  color: black;
}

.hero-image-area {
  width: 30%;
  text-align: right;
}

.hero__title {
  color: black; /* Make title text black */
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
}

.mydivider {
  background-color: white;
  width: 100%;
  height:3px
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .hero-content-container {
    flex-direction: column;
  }
  .hero-text-area, .hero-image-area {
    width: 100%;
    text-align: center;
  }
  .full-width-container {
    padding: 0 0.5rem; /* Adjust padding for smaller screens */
    width:100%; 
  }
}