# trail_comparison_v4 :: v4_asp_dp  (ASP + dp combo)
# Substrate: IP-Stride@L1D + Streamer@L2 + CHiRP@L2-TLB, ddr4-2400 4ch, meteor_lake.
# ASP (64-entry PC-stride, matched to TRAIL's PC table) is the always-on baseline
# prefetcher; dp is layered on top in the same L2-TLB prefetch queue.
#include ./common_configs/base_system_sniperspace.cfg
#include ./core_configs/meteor_lake_pcore.cfg
#include ./prefetcher_configs/datapf_ipstride_notrans_streamer.cfg
#include ./mmu_configs/mmu_distance.cfg
#include ./mmu_configs/l2tlb_chirp.cfg
#include ./pagetable_configs/4_level_radix.cfg
#include ./pagetable_configs/range_table.cfg
#include ./dram_configs/ddr4_2400_4channel.cfg
#include ./physical_memory_allocators/reserve_thp.cfg

[perf_model/mmu/tlb_prefetch/pq1]
number_of_prefetchers = 2
prefetcher_list = "dp","asp"

[perf_model/mmu/tlb_prefetch/pq1/asp_prefetcher]
table_size = 64
prefetch_threshold = 0
extra_prefetch = "true"
lookahead = 4
degree = 3
