
[general]
total_cores = 1
native_environment = "true" # Set to true if running on a real machine, false if running on a VM
virtualized_environment = "false" # Set to true if running on a VM, false if running on a real machine
translation_enabled = "true" # Set to true if we want to enable address translation in each core 
# Set this to false if you want to do "idealistic" studies and measure the performance of the system without any address translation overhead
enable_icache_modeling = false
enable_userspace_mimicos = true

[perf_model/mimicos_host]
page_fault_latency = 0

[scheduler]
type = static

