
[perf_model/mimicos_host]
memory_allocator_type = "spot"
memory_allocator_name = "spot_allocator"
page_fault_handler = "spot"
number_of_page_sizes = 2
page_size_list = 12, 21
swap_enabled = false

[general]
exception_handler_type = "spot"

[perf_model/spot_allocator]
memory_size=131072                           # 128 GiB
target_fragmentation = 100                # 0% of 2MiB pages fragmented (sweeped in experiments over 0.0 -> 1.0 in steps of 0.1)
threshold_filter = 32                        # TODO:  document
predefined_allocation_threshold = 32         # max # of contiguous pages - Page 7 SpOT paper 

# Speculation Engine - HW specs
kernel_size=32768                            # 32 GiB        
number_of_entries_bits = 5                   # log2(num_entries) - Page 8 SpOT paper
number_of_ways = 4                           # 4-way
number_of_sets = 8                           # 32 entries / 4 ways = 8 sets

max_order = 10
frag_type = "largepage"

