#include  ./common_configs/common_sniperspace.cfg
#include  ./mmu_configs/mmu_base_prefetch.cfg
#include  ./pagetable_configs/4_level_radix.cfg
#include  ./pagetable_configs/range_table.cfg
#include  ./dram_configs/ddr4_2400.cfg
#include  ./physical_memory_allocators/reserve_thp.cfg
#include  ./core_configs/beefy.cfg