.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 100px;
  width: 100px;
}

.bibtexsection {
  font-family: "Courier", monospace;
  font-size: 16px;
  white-space: pre; 
  background-color: #e9eeef;
  text-align: left;
}

.text-center {
  text-align: left;
}

