
# Based on the work Hash Don't Cache SIGMETRICS 2016

[perf_model/mimicos_host]
page_table_type="hash_dont_cache"
page_table_name="pt_hash_hdc"

[perf_model/mmu]
ptw_filter_type="default"

[perf_model/pt_hash_hdc]
page_sizes=2
page_size_list=12,21
page_table_size_list=65536,256
resize_threshold=0.6  # Resize when table reaches 60% occupancy
resize_factor=2       # Double the table size on resize