# Diamond V+U — Victima + Utopia (no TRAIL, no Revelator)
#include ./common_configs/base_system_sniperspace.cfg
#include ./core_configs/meteor_lake_pcore.cfg
#include ./mmu_configs/mmu_fullstack.cfg
#include ./mmu_configs/tlb_hierarchy_shared.cfg
#include ./pagetable_configs/4_level_radix.cfg
#include ./pagetable_configs/range_table.cfg
#include ./dram_configs/ddr4_2400_4channel.cfg
#include ./physical_memory_allocators/utopia_4k.cfg

[perf_model/l2_cache]
replacement_policy = srrip

[perf_model/l2_cache/srrip]
tlb_enabled = true

[perf_model/nuca]
replacement_policy = srrip

[perf_model/nuca/cache/srrip]
tlb_enabled = true
