# Parametric — ASAP Eager THP Allocator
# ========================================
# ASAP allocator with speculative PTW engine, no TLB prefetching.

#include ./common_configs/base_system_sniperspace.cfg
#include ./core_configs/meteor_lake_pcore.cfg
#include ./mmu_configs/mmu_spec.cfg
#include ./pagetable_configs/4_level_radix.cfg
#include ./pagetable_configs/range_table.cfg
#include ./dram_configs/readwrite_1ctrl_153gbps.cfg
#include ./physical_memory_allocators/reserve_asap.cfg
#include ./spec_engine_configs/spec_engine_asap.cfg
