
[page_size_predictor]
enabled = true
# The type of page size predictor to use
type = "default"
# The number of bits used as a history for the predictor
history_size = 4 
# The number of entries that each table can hold
tables_size = 16